@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Exo', sans-serif;
    text-color: #fff;
    font-size: 14px;
    background: #7F9AC7;
    /*margin:0;
	padding:0;*/
}

h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 25px;
}

.container {
    padding: 40px 170px;
    /* pushes all container items more towards the middle */
}


/*---HOME PAGE-----*/

.jumbotron {
    background: no-repeat center right fixed url("https://wallpaperaccess.com/full/439038.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    /* this makes sure that the entirety of the image is on display*/
}

.jumbotron .container h1 {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 60px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
}

.jumbotron .container p {
    font-family: "Exo", sans-serif;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
}

/*-------------------------------------NAVIGATION BAR-----------------------------------------*/

.navbar {
    border: 0px;
    position: absolute;
    width: 110px;
}

.collapsible-item {
    display: block;
    height: 80px;
}

.collapsible-item a {
    display: block;
    height: 80px;
    text-align: right;
    padding-top: 30px;
    font-weight: 400;
    color: #ffffff;

}

.button-icon {
    color: white;
}

.collapsible-item {
    text-align: right;
}

/*----Personal Information------------------*/

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    /* so it will start and end with a new line and occupy the entirety of the horizontal space */
    clear: both;
    /* Clear to both so that no other items can appear at either side of it in case we were using floats*/
}

.personal-info-item .key,
.personal-info-item .value {
    display: inline-block;
    /*A div occupies the maximum horizontal space. An inline block allows to put two divs side-by-side, and that's what we want to do here.*/
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
    /*Vertical-align to top so that it hugs the top of the <div> as much as possible.*/
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
    /*This will combine to 90% and still allow for some breathing space on either side of the key value pairing.*/
}

.catface {
    border-radius: 50%;
}

.uppercase {
    text-transform: uppercase;


    /*-------------RESUME-----------*/
    /*-------------------END RESUME--------*/
    /*---------------------------CONTACT PAGE ----*/
    footer {
        background-color: #525252;
        color: #fafafa;
        min-height: 120px;
        /*So it can grow beyond 120px if for some reason the about us text extends or pushes beyond that*/
        margin: 0;
    }

    /*footer .container {
  padding: 40px 170px;
  }
  putting this rule in the body instad*/
    #contact {
        padding-bottom: 200px;
        margin-top: 50px;
        padding-top: 40px;
    }


    /*#contact h2 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 25px;
}*/
    #contact .quote {
        font-size: 20px;
        opacity: 0.5;
        font-weight: 100;
        margin-bottom: 25px;
    }

    /* Link items */
    #contact .row * {
        color: #fff;
        /*It means apply those styles to all elements. Could not change the color of the links otherwise. How to achieve it without the "*" symbol?*/
    }

    #contact .row {
        padding-top: 25px;
    }

    #contact a {
        display: block;
        /* A block has some whitespace above and below it and tolerates no HTML elements next to it, except when ordered otherwise (by adding a float declaration to another element, for instance)*/
        margin-bottom: 18px;
        /* Why doesn't margin bottom display 18 px without first adding display: block? */
        line-height: 200%;
        /*The line-height CSS property sets the height of a line box. It's commonly used to set the distance between lines of text. On block-level elements, it specifies the minimum height of line boxes within the element.*/
        opacity: 0.6;
    }

    #contact a i {
        margin-right: 10px;
        /* creates space between the icon and the text */
        font-size: 25px;
    }


    #contact a:hover {
        opacity: 1;
        text-decoration: none;
    }
    /*text-decoration set to none, otherwise the underline appears on hover*/

/*------END CONTACT PAGE -----*/
