@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
html {
  font-size: 100%;
}

/* --------------------------------------General styles-------------------------------- */

.jumborow,
.row {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  font-family: 'Exo', sans-serif;
  font-size: 0.938em;
  background: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3.125rem;
  font-weight: 300;
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 1.250em
}

h5 {
  font-weight: 700;
}

.my_custom_margin_padding {
  padding-right: 300px;
  padding: 3.333rem 11.33rem;
}

hr {
  margin: 35px auto;
  border-color: #7D7880;
  opacity: 0.2;
  width: 70%;
}

footer {
  width: 100%;
}


/* --------------------------------------------LANDING PAGE---------------------------------------------------------- */

#landing-page {
  background: no-repeat center right fixed url("https://wallpaperaccess.com/full/439038.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
}

.jumbotron .name h1 {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-size: 3.75rem;
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
}

.jumbotron .name p {
  font-family: "Exo", sans-serif;
  font-size: 1.75rem;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}


/* -------------------------------------------Personal Information-----------------------------------*/

.personal-info-item {
  margin-bottom: 1.333em;
  display: block;
  /* so it will start and end with a new line and occupy the entirety of the horizontal space */
  clear: both;
  /* Clear to both so that no other items can appear at either side of it in case we were using floats*/
}

.personal-info-item .key,
.personal-info-item .value {
  display: inline-block;
  /*A div occupies the maximum horizontal space. An inline block allows to put two divs side-by-side.*/
}

.personal-info-item .key p,
.personal-info-item .value p {
  margin: 0;
}

.personal-info-item .key {
  margin-right: 21px;
  padding-top: 2px;
  vertical-align: top;
  /*Vertical-align to top so that it hugs the top of the <div> as much as possible.*/
}

.linksprofile {
  color: #212529;
}

.linksprofile:hover {
  text-decoration: none;
  color: #e1a87a;
}

.personal-info-item .key p {
  font-weight: 700;
}

.personal-info-item .value {
  position: relative;
  width: 60%;
}

.catface {
  border-radius: 50%;
}

#my-profile .row>div {
  margin-bottom: 30px;
}

/*.parent-class > .child-class*/

#my-profile h2,
h3 {
  color: #7B8C89;
}


/* ---------------------------------------------------CONTACT PAGE ------------------------------------------------------- */

footer {
  background-color: #2F3133;
  color: #fafafa;
  margin: 0;
}

#contact {
  padding-bottom: 40px;
}

#contact a {
  margin-bottom: 1.333em;
}

#contact .quote,
#my-profile .quote,
#my-resume .quote {
  font-size: 1.25rem;
  opacity: 0.4;
  font-weight: 200;
  font-style: italic;
}

#my-profile .quote,
#my-resume .quote {
  opacity: 1;
}


/* Link items */

#contact .row * {
  color: #fff;
  /* It means apply those styles to all elements. Could not change the color of the links otherwise. How to achieve it without the "*" symbol? */
}

#contact a i {
  margin-right: 10px;
  /* creates space between the icon and the text */
  font-size: 30px;
}

#contact .contactrow a:hover {
  opacity: 0.4;
  text-decoration: none;
}

/*text-decoration set to none, otherwise the underline appears on hover*/

/*to center content text-align parent, while inline block child*/

.contactrow .inline-list {
  text-align: center;
}

.contactrow .inline-list li {
  display: inline-block;
}

#contact .contactrow a {
  color: #fff;
  opacity: 0.9;
  padding: 10px 15px;
}


/* ------------------------------------------------------------RESUME PAGE --------------------------------------------------------------*/

.background-color-green {
  background-color: #F9F4ED;
}

#my-resume .resume>div {
  margin-bottom: 15px;
}

.resume h5,
.location {
  color: #434D4B;
}

#my-resume .row i {
  margin-right: 20px;
  /* creates space between the icon and the text */
}

.downloadrow {
  padding-top: 20px;
}

.downloadrow .mydownload {
  color: #e1a87a;
  font-weight: 500;
}

.downloadrow a {
  color: #e1a87a;
}

.downloadrow a i {
  font-size: 20px;
}

.downloadrow a:hover {
  color: #C21841;
  text-decoration: none;
}


/* ------------------------------------------------------- NAVIGATION BAR ------------------------------------------------------- */

.navbar {
  top: 0px;
}



.maggy-nav {
  position: fixed;
  background-color: rgba(17, 17, 17, .6);
  border-radius: 0;
  margin: 0;
  padding: 20px;
  z-index: 20;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 75vw;
}

.nav {
  display: block;
  /* this is to overwrite flex*/
}

.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.maggy-nav a {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}



.maggy-nav .nav {
  text-align: center;
}

#my-nav {
  margin-right: 0;
  margin-left: 0;
}



.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.collapse.show {
  display: block;
}

.resume {
  margin-bottom: 20px;
}



#my-resume .locationfont {
  font-weight: 500;
  padding-left: 4px;
}

.maggy-nav a:hover {
  text-decoration: none;
  color: #C21841;
}



.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 4px;
}


.copyright p {
  padding-top: 110px;
  color: #7a7d7f;
  font-size: 14px;
}

.copyright .myname {
  color: #e1a87a;
}



.navbar-brand>img {
  display: block;
}

.navbar-brand {
  width: 70%;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 16%;
  left: 0;
  right: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}


/* ----------------------------------------------------------MEDIA QUERIES--------------------------------------------------- */

@media (max-width: 767px) {
  .contactrow .inline-list {
    padding: 0;
  }
}


@media screen and (max-width: 823px) {
  .navbar-toggle {
    background-color: #fff;
    left: 75vw;
    /*float does not work in flex container*/
  }

  .maggy-nav {
    height: auto !important;
    padding: 0 20px;
    width: 100%;
    text-align: center;
  }

  .navbar-toggle {
    background-color: #fff;
    margin-top: 16px;
  }

  .collapse {
    display: none;
  }

  .icon-bar {
    background-color:#C21841;
  }

  .navbar-brand img {
    display: none;
  }
}


@media screen and (min-width: 1024px) {
  .navbar-collapse {
    bottom: 0;
  }

  .collapse:not(.show) {
    display: block;
  }

  .navbar-collapse.collapse {
    height: auto !important;
    padding-bottom: 0;
    overflow: visible;
  }
}


@media (min-width: 992px) {
  .maggy-nav {
    right: 25px;
    width: 250px;
    /* moves the navbar to the right hand side*/
  }

  .resume {
    width: 90%;
  }
}


@media (max-width: 992px) {
  #landing-page {
    background-attachment: scroll;
  }
}

@media (max-width: 767px) {
  #my-profile .row * {
    text-align: center;
  }
}


@media (max-width: 823px) {
  .my_custom_margin_padding {
    padding: 60px 30px;
    min-width: 280px;
    /*gives more padding on small screen*/
  }
}


/*  DEVICE SPECIFIC  * /
 /* ipad query */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .my_custom_margin_padding {
    padding-right: 0px!important;
    padding: 15px 0!important;
    margin: 40px;
  }

  .navbar-toggle {
    left: 80vw;
    background-color: #fff;
    margin-top: 16px;
  }

  .maggy-nav {
    height: auto !important;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }

  .icon-bar {
    background-color: #C21841;
  }

  .navbar-brand img {
    display: none;
  }
}

  /* ipad pro portrait query*/
  @media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .navbar-toggle {
      left: 80vw;
      background-color: #fff;
      margin-top: 16px;
    }

    .maggy-nav {
      height: auto !important;
      padding: 10px 20px;
      width: 100%;
      text-align: center;
      right: 0;
    }

    .collapse:not(.show) {
      display: none!important;
    }

    .d-lg-block {
      display: none!important;
    }

    .collapsing {
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
